<template>
  <component :is="tag">
    <slot />
  </component>
</template>

<style scoped>
  .v-enter-active,
  .v-leave-active {
    transition: opacity 0.5s ease;
  }

  .v-enter-from,
  .v-leave-to {
    opacity: 0;
  }
</style>

<script setup lang="ts">
  export type Props = {
    group?: boolean
  }

  const props = withDefaults(defineProps<Props>(), { group: false })
  const tag = computed(() => (props.group ? 'transition-group' : 'transition'))
</script>
