<template>
  <Teleport to="body">
    <dialog :id="id" ref="modal">
      <slot />
    </dialog>
  </Teleport>
</template>

<script setup lang="ts">
  export type Props = {
    id: string
    ignoreOutsideClick?: boolean
  }

  const props = defineProps<Props>()
  const { modal, close } = useModal(props.id)

  onClickOutside(modal, () => {
    if (modal.value?.open && !props.ignoreOutsideClick) {
      close()
    }
  })
</script>
