<template>
  <template v-if="isMobile">
    <table v-for="[index, row] of rows.entries()" :key="index">
      <tr v-for="{ key, label } of columnDetails" :key="key">
        <th>
          <slot :name="`header:${key}`" :key="key" :value="label">
            {{ label }}
          </slot>
        </th>
        <td>
          <slot :name="`column:${key}`" :row="row" :value="row[key]">
            {{ `${row[key]}` }}
          </slot>
        </td>
      </tr>
    </table>
  </template>

  <table v-else>
    <thead>
      <tr>
        <th v-for="{ key, label } of columnDetails" :key="key">
          <slot :name="`header:${key}`" :key="key" :value="label">
            {{ label }}
          </slot>
        </th>
      </tr>
    </thead>

    <tbody>
      <tr v-for="[index, row] of rows.entries()" :key="index">
        <td v-for="{ key } of columnDetails" :key="key">
          <slot :name="`column:${key}`" :row="row" :value="row[key]">
            {{ `${row[key]}` }}
          </slot>
        </td>
      </tr>
    </tbody>
  </table>
</template>

<script setup lang="ts">
  export type Column =
    | string
    | {
        key: string
        label?: string
      }

  export type Props = {
    columns: Column[]
    rows: Record<string, any>[]
    breakpoint?: number
  }

  const props = withDefaults(defineProps<Props>(), { breakpoint: 640 })
  const { screenWidth } = useScreen()
  const isMobile = computed(() => screenWidth.value < props.breakpoint)
  const columnDetails = computed(() =>
    props.columns.map((col) => {
      if (typeof col === 'string') {
        return {
          key: col,
          label: col,
        }
      }

      return {
        key: col.key,
        label: col.label ?? col.key,
      }
    })
  )
</script>
