<template>
  <component
    :is="wrapper"
    @mouseenter="hover = true"
    @mouseleave="hover = false"
  >
    <slot />
  </component>

  <slot name="tip" :tip="tip" :open="hover">
    <aside v-if="hover && tip">{{ tip }}</aside>
  </slot>
</template>

<script setup lang="ts">
  export type Props = {
    wrapper?: string
    tip?: string
  }

  const props = withDefaults(defineProps<Props>(), { wrapper: 'span' })
  const hover = ref(false)
</script>
