<template>
  <Teleport to="body">
    <transition name="toast">
      <div v-show="isOpen" :id="id" :style="{ zIndex }">
        <transition-group name="toast">
          <component
            :is="tag"
            v-for="message of messages"
            :key="message.id"
            :class="message.kind"
            @click="dismiss(message.id)"
            @mouseenter="hold(message.id)"
            @mouseleave="hold(message.id, false)"
            @touchstart="hold(message.id)"
            @touchend="hold(message.id, false)"
          >
            <slot :message="message">
              <div v-show="message.body" v-html="message.body" />
            </slot>
          </component>
        </transition-group>
      </div>
    </transition>
  </Teleport>
</template>

<script setup lang="ts">
  export type Props = {
    id?: string
    zIndex?: number
    tag?: string
  }

  const props = withDefaults(defineProps<Props>(), {
    id: 'toast',
    zIndex: 10,
    tag: 'article',
  })
  const { messages, dismiss, hold } = useToast(props.id)
  const isOpen = computed(() => messages.value.length !== 0)
</script>
