<template>
  <div>
    <client-only>
      <my-toast tag="aside">
        <template #default="{ message }">
          <code>
            <pre>{{ JSON.stringify(message, undefined, 2) }}</pre>
          </code>
        </template>
      </my-toast>
    </client-only>

    <h2>Home Page</h2>

    <client-only>
      <my-modal id="screen">
        <p>Height: {{ screenHeight }}</p>
        <p>Width: {{ screenWidth }}</p>
        <p>Scroll X: {{ scrollX }}</p>
        <p>Scroll Y: {{ scrollY }}</p>
        <p>Cursor X: {{ cursorX }}</p>
        <p>Cursor Y: {{ cursorY }}</p>
        <p>Page X: {{ pageX }}</p>
        <p>Page Y: {{ pageY }}</p>
      </my-modal>
    </client-only>

    <button @click="open()">My Modal</button>

    <button @click="addMessage()">Add Toast</button>

    <client-only>
      <form-kit
        v-model="data"
        type="form"
        label="My form"
        :plugins="[tocPlugin]"
      >
        <form-kit-schema
          :schema="[
            {
              $formkit: 'group',
              toc: 'tab1',
              label: 'Tab 1',
              children: [
                {
                  $formkit: 'group',
                  children: [
                    {
                      $formkit: 'group',
                      toc: 'sectionA',
                      label: 'Section A',
                      children: [
                        { $formkit: 'text', label: 'Question 1', id: 'q1' },
                        { $formkit: 'text', label: 'Question 2', id: 'q2' },
                      ],
                    },
                    {
                      $formkit: 'group',
                      toc: 'sectionB',
                      label: 'Section B',
                      children: [
                        { $formkit: 'text', label: 'Question 3', id: 'q3' },
                        { $formkit: 'text', label: 'Question 4', id: 'q4' },
                      ],
                    },
                  ],
                },
              ],
            },
            {
              $formkit: 'group',
              if: '$get(q4).value',
              toc: 'tab2',
              label: 'Tab 2',
              children: [
                {
                  $formkit: 'group',
                  toc: 'sectionA',
                  label: 'Section A',
                  children: [
                    { $formkit: 'text', label: 'Question 5', id: 'q5' },
                    { $formkit: 'text', label: 'Question 6', id: 'q6' },
                  ],
                },
                {
                  $formkit: 'group',
                  if: '$get(q6).value',
                  toc: 'sectionB',
                  label: 'Section B',
                  children: [
                    { $formkit: 'text', label: 'Question 7', id: 'q7' },
                    { $formkit: 'text', label: 'Question 8', id: 'q8' },
                  ],
                },
              ],
            },
          ]"
        />
      </form-kit>
    </client-only>

    <code>
      <pre>TOC {{ tocPretty }}</pre>
    </code>

    <code>
      <pre>Data {{ data }}</pre>
    </code>

    <client-only>
      <my-table
        :columns="['a', 'b', 'c']"
        :rows="[
          { a: 'apple', b: 'ball', c: 'cantaloupe' },
          { a: 'adam', b: 'battle', c: 'cat' },
        ]"
      >
        <template #header:a> aA </template>

        <template #column:a="{ value }">
          a: {{ value.toUpperCase() }}
        </template>
      </my-table>
    </client-only>

    <p>
      <my-tool-tip tip="My awesome tool tip.">Lorem</my-tool-tip> ipsum dolor
      sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
      labore et dolore magna aliqua. Urna et pharetra pharetra massa massa
      ultricies mi. Ridiculus mus mauris vitae ultricies leo integer malesuada
      nunc. Pharetra sit amet aliquam id diam maecenas. Aliquet nibh praesent
      tristique magna. Dolor magna eget est
      <my-tool-tip tip="Another awesome tool tip.">lorem</my-tool-tip>. Nunc
      mattis enim ut tellus elementum. Ut tristique et egestas quis ipsum. In eu
      mi bibendum neque egestas congue quisque egestas diam. Purus faucibus
      ornare suspendisse sed. Mi quis hendrerit dolor magna eget.
    </p>
    <p>
      Fames ac turpis egestas maecenas pharetra convallis posuere. A iaculis at
      erat pellentesque. Nibh praesent tristique magna sit amet purus gravida.
      Sem fringilla ut morbi tincidunt augue interdum velit euismod in.
      Malesuada fames ac turpis egestas sed. At volutpat diam ut venenatis
      tellus in metus. Mauris pellentesque pulvinar pellentesque habitant morbi
      tristique senectus et. Et sollicitudin ac orci phasellus egestas. Vitae
      justo eget magna fermentum iaculis eu non diam. Urna molestie at elementum
      eu.
    </p>
    <p>
      Et sollicitudin ac orci phasellus egestas. Consequat ac felis donec et
      odio pellentesque diam volutpat commodo. Pharetra sit amet aliquam id diam
      maecenas ultricies mi. Cum sociis natoque penatibus et. Quis lectus nulla
      at volutpat diam ut venenatis. Elit sed vulputate mi sit amet mauris.
      Ultrices dui sapien eget mi proin. Mi proin sed libero enim. Tortor
      aliquam nulla facilisi cras fermentum odio eu feugiat. Libero justo
      laoreet sit amet. Nec feugiat nisl pretium fusce. Sagittis id consectetur
      purus ut faucibus pulvinar elementum. Ut venenatis tellus in metus. Nibh
      sed pulvinar proin gravida hendrerit lectus a. Enim nunc faucibus a
      pellentesque sit. Etiam dignissim diam quis enim lobortis scelerisque
      fermentum.
    </p>
    <p>
      Non consectetur a erat nam at lectus urna duis convallis. Magna sit amet
      purus gravida quis blandit. Id donec ultrices tincidunt arcu non sodales.
      Adipiscing vitae proin sagittis nisl rhoncus. Volutpat sed cras ornare
      arcu dui vivamus arcu felis. In ante metus dictum at tempor commodo. Ipsum
      dolor sit amet consectetur. Arcu risus quis varius quam quisque id diam
      vel. Venenatis urna cursus eget nunc scelerisque viverra mauris in. Arcu
      felis bibendum ut tristique. Molestie ac feugiat sed lectus vestibulum
      mattis ullamcorper velit sed. Tincidunt vitae semper quis lectus. Risus
      pretium quam vulputate dignissim suspendisse in. Et ultrices neque ornare
      aenean euismod elementum nisi quis. Morbi tristique senectus et netus et
      malesuada fames ac. Feugiat in fermentum posuere urna nec tincidunt
      praesent.
    </p>
    <p>
      Molestie nunc non blandit massa enim nec dui nunc. Vitae tortor
      condimentum lacinia quis vel. Ipsum suspendisse ultrices gravida dictum
      fusce ut placerat orci. Adipiscing vitae proin sagittis nisl rhoncus. Ac
      auctor augue mauris augue. Adipiscing elit duis tristique sollicitudin.
      Risus pretium quam vulputate dignissim suspendisse in est ante in. Tempus
      quam pellentesque nec nam aliquam sem. Nisl suscipit adipiscing bibendum
      est ultricies integer quis. Arcu vitae elementum curabitur vitae nunc sed
      velit dignissim. Amet risus nullam eget felis. Metus vulputate eu
      scelerisque felis imperdiet proin fermentum leo.
    </p>
    <p>
      Ultricies lacus sed turpis tincidunt id aliquet. Phasellus egestas tellus
      rutrum tellus pellentesque eu tincidunt tortor. Egestas congue quisque
      egestas diam. Sem fringilla ut morbi tincidunt. Quam elementum pulvinar
      etiam non quam lacus suspendisse faucibus. Ac tortor vitae purus faucibus
      ornare suspendisse sed nisi. A arcu cursus vitae congue mauris rhoncus
      aenean vel. Amet consectetur adipiscing elit duis tristique sollicitudin
      nibh sit. Eu augue ut lectus arcu bibendum at varius vel pharetra.
      Elementum eu facilisis sed odio morbi quis. Amet consectetur adipiscing
      elit duis tristique.
    </p>
    <p>
      Donec massa sapien faucibus et molestie ac feugiat. Scelerisque varius
      morbi enim nunc faucibus a pellentesque. Viverra nibh cras pulvinar
      mattis. Nec feugiat in fermentum posuere urna nec tincidunt praesent.
      Aliquam nulla facilisi cras fermentum odio eu feugiat. Diam vel quam
      elementum pulvinar etiam non quam lacus. Odio eu feugiat pretium nibh
      ipsum consequat nisl vel pretium. Dui vivamus arcu felis bibendum. Egestas
      quis ipsum suspendisse ultrices gravida dictum. Nunc sed blandit libero
      volutpat sed. Duis tristique sollicitudin nibh sit amet commodo nulla
      facilisi nullam. Ultricies integer quis auctor elit sed vulputate.
      Pellentesque pulvinar pellentesque habitant morbi tristique senectus et
      netus. Odio eu feugiat pretium nibh ipsum consequat nisl vel. Molestie a
      iaculis at erat pellentesque adipiscing commodo elit at.
    </p>
    <p>
      Vestibulum mattis ullamcorper velit sed ullamcorper morbi tincidunt.
      Rhoncus urna neque viverra justo nec ultrices dui. Nunc sed id semper
      risus in. Vitae congue mauris rhoncus aenean vel elit scelerisque mauris
      pellentesque. Nam aliquam sem et tortor consequat id porta. Sed enim ut
      sem viverra aliquet eget sit amet tellus. Tempus quam pellentesque nec nam
      aliquam sem et. Pharetra magna ac placerat vestibulum lectus mauris.
      Mollis nunc sed id semper risus. Facilisi etiam dignissim diam quis.
      Aliquam ut porttitor leo a diam sollicitudin tempor. Est pellentesque elit
      ullamcorper dignissim cras tincidunt lobortis. Eu mi bibendum neque
      egestas congue quisque. Fermentum iaculis eu non diam. Sit amet
      consectetur adipiscing elit pellentesque habitant morbi tristique
      senectus. Pellentesque elit eget gravida cum. Posuere sollicitudin aliquam
      ultrices sagittis orci a scelerisque purus semper.
    </p>
    <p>
      Faucibus nisl tincidunt eget nullam non nisi est sit amet. Penatibus et
      magnis dis parturient montes nascetur ridiculus mus. Quis blandit turpis
      cursus in hac habitasse. Egestas pretium aenean pharetra magna ac
      placerat. Donec massa sapien faucibus et molestie. Malesuada fames ac
      turpis egestas maecenas pharetra convallis posuere morbi. Sapien et ligula
      ullamcorper malesuada proin. Ultrices vitae auctor eu augue ut lectus. Ut
      faucibus pulvinar elementum integer enim neque volutpat ac. Eu tincidunt
      tortor aliquam nulla facilisi. At quis risus sed vulputate odio. Id
      venenatis a condimentum vitae sapien. Imperdiet dui accumsan sit amet.
      Risus pretium quam vulputate dignissim suspendisse. Fames ac turpis
      egestas sed tempus urna et pharetra.
    </p>
  </div>
</template>

<style>
  #toast {
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    max-width: 80%;
  }

  #toast .info,
  #toast .warn,
  #toast .error {
    width: fit-content;
    max-width: 100%;
  }

  #toast .info {
    background: var(--accent-bg);
  }

  #toast .warn {
    background: orange;
  }

  #toast .error {
    background: red;
  }

  #screen {
    min-width: 50%;
  }

  #screen::backdrop {
    backdrop-filter: blur(10px);
  }

  button {
    margin-right: 1rem;
  }

  table {
    width: 100%;
  }

  .toast-move,
  .toast-enter-active,
  .toast-leave-active {
    transition: all 0.5s ease;
  }

  .toast-enter-from,
  .toast-leave-to {
    opacity: 0;
    transform: translateX(30px);
  }

  .toast-leave-active {
    position: fixed;
  }
</style>

<script setup lang="ts">
  const { open } = useModal('screen')
  const {
    screenHeight,
    screenWidth,
    scrollX,
    scrollY,
    cursorX,
    cursorY,
    pageX,
    pageY,
  } = useScreen()
  const { info, warn, error } = useToast()
  const { toc, plugin: tocPlugin } = useTocPlugin()
  const tocPretty = computed(() =>
    JSON.stringify(
      toc,
      (key, value) => (key === 'node' ? value.name : value),
      2
    )
  )
  const data = ref()

  function addMessage() {
    const randomStuff = Math.random().toString(16)

    info(`Info: ${randomStuff}`)
    warn(`Warn: ${randomStuff}`)
    error(`Error: ${randomStuff}`, Number.POSITIVE_INFINITY)
  }
</script>
